#calculator {
  width: fit-content;
  margin: 0 auto;
}

#display {
  border: 1px solid black;
  padding: 3px;
  text-align: end;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} 

#equalBtn {
  width: 200%;
}
