#calculator {
  width: 175px;
  margin: 0 auto;
}

#display {
  border: 1px solid black;
  padding: 5px;
  text-align: end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} 

#equalBtn {
  width: 200%;
}


